[submodule "modules/uavcan"]
	path = modules/uavcan
	url = http://192.168.1.103:3000/APM/uavcan.git
[submodule "modules/waf"]
	path = modules/waf
	url = http://192.168.1.103:3000/APM/waf.git
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = http://192.168.1.103:3000/APM/benchmark.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = http://192.168.1.103:3000/APM/mavlink.git
[submodule "gtest"]
	path = modules/gtest
	url = http://192.168.1.103:3000/APM/googletest.git
[submodule "modules/ChibiOS"]
	path = modules/ChibiOS
	url = http://192.168.1.103:3000/APM/ChibiOS.git
[submodule "modules/libcanard"]
	path = modules/libcanard
	url = http://192.168.1.103:3000/APM/libcanard.git
